/* src/styles/colors.css */
:root {
    --light-green: #E9EED9;
    --pale-green: #CBD2A4;
    --warm-brown: #9A7E6F;
    --dark-brown: #54473F;
    --medium-green: #A8B77D;
    --light-brown: #BFA58A;
}
